<div class="thes__board-member">
  <div class="thes__board-role">{{role}}</div>
  <div class="thes__board-name">{{name}}</div>
  <a class="thes__board-email" href="mailto:{{email}}">{{email}}</a>
</div>
