<div class="thes__event-row">
  <div class="thes__event-date"><span class="thes__day">{{day}}</span><span class="thes__month">{{month}}</span></div>
  <div class="thes__event-row-body">
    <strong>{{title}}</strong>
    <span>{{when}}</span>
    {{ATTACHMENTS}}
  </div>
</div>
