<div class="thes__featured-event">
  <span class="thes__eyebrow">Featured Event</span>
  <h3>{{title}}</h3>
  <div class="thes__event-when">{{month}} {{day}} &middot; {{when}}</div>
  <p>{{description}}</p>
  {{ATTACHMENTS}}
  <a href="{{page_urls.events}}" target="_top">Learn More &rarr;</a>
</div>
