  <section class="thes__section thes__section--tint">
    <div class="thes__wrap">
      <div class="thes__section-head">
        <span class="thes__eyebrow">Resources</span>
        <h2>Documents &amp; Flyers</h2>
      </div>
      <div class="thes__grid">
{{FLYER_CARDS}}
      </div>
    </div>
  </section>
