<div class="thes__featured-event">
  <span class="thes__eyebrow">Latest Meeting</span>
  <h3>{{title}}</h3>
  <div class="thes__event-when">{{date_display}}</div>
  <p>{{highlights}}</p>
  {{FLYER}}
  {{AGENDA_BUTTON}}
</div>
