  <section class="thes__section">
    <div class="thes__wrap">
      <div class="thes__section-head">
        <span class="thes__eyebrow">With Thanks To</span>
        <h2>Our Sponsors</h2>
      </div>
      <div class="thes__grid thes__grid--narrow">
{{SPONSOR_CARDS}}
      </div>
    </div>
  </section>
